<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>reverse audio</title>
  <link rel="stylesheet" href="foundation/css/foundation-apps.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
</head>
<body>

  {{{body}}}

  <script src="foundation/js/foundation-apps.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/recorder.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>
