// _buttons.scss

@import "components/button";
// @import "components/button-group";

.button {
  border-radius: 5px;
}

.button--record {
  position: relative;
  background: darken(#F52525, 15%);
  font-size: 3em;
  margin-bottom: 0;

  border-radius: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  transition: background .15s;
}

.button--record:hover,
.button--record:focus {
  background: darken(#F52525, 15%);
}

.button--record--recording:focus,
.button--record--recording:hover,
.button--record--recording {
  background: #169A42;
}

.button--record__text {
  position: relative;
  z-index: 10;
}

#ready {
  display: none;
}

#ready + label {
  margin: 0;
  padding: 1em;

  text-align: center;
  font-size: 1.5em;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  background: grey;
}

#ready:checked + label {
  background: green;
  color: white;
}
