// _roomUrl.scss

.room-url {
  position: relative;
  margin-top: .5em;
}

.room-url__instruction {
  display: block;

  font-size: 1.5em;
  text-align: center;
}

.room-url__url {
  text-align: center;
  padding: 1em 1em 0;
  line-height: .5em;
  font-size: 1.5em;

  border-color: transparent;
  border-radius: 2px;
  background: #EFEFEF;

  resize: none;
}

.room-url__message {
  display: block;
  position: absolute;
  top: -10%;
  margin: 0 auto;
  padding: .5em;
  width: 100%;

  font-size: 1.25em;
  font-weight: 700;
  text-align: center;

  background: white;

  transition: opacity .33s;
}

.room-url__message--hidden {
  opacity: 0;
}
