// _users.scss

.users {
  margin: 0;
  padding: 0;
}

.user {
  max-height: 25vh;
  list-style: none;
  padding: 1em 1.5em;

  background: #E6E3DA;
}

.user--nessa {
  background: #FFE7CF;
  color: #D6802D;
}

.user--capthonkers {
  background: #B7EFCE;
  color: #0C6F35;
}

.user--wickedhelmet {
  background: #ECC1CF;
  color: #AD2852;
}

.user--demelza {
  background: #C3ECFF;
  color: #10A1E6;
}

.user .name {
  text-transform: uppercase;
  font-family: 'Caveat Brush', sans-serif;
  font-size: 3em;
  line-height: 2em;
  text-shadow: 0 4px 0 rgba(255, 255, 255, .15);
}

.user .name small {
  margin-left: .5em;
  margin-top: -.25em;

  font-family: 'Coming Soon', sans-serif;
  color: rgba(0, 0, 0, .5);
  text-shadow: none;
}

.polaroid__wrap {
  padding: .25em;
  padding-right: 1em;
}

.polaroid {
  padding: .5em .5em 1.5em;

  background: #fff;
  box-shadow: -.25em .25em 0 rgba(0,0,0,0.15);

  transform: rotate(2.5deg);
}

.polaroid__wrap:nth-of-type(odd) .polaroid {
  transform: rotate(-2.5deg);
}

.polaroid__image {
  max-width: 100px;
  border-radius: 2px;
}
