<div class="medium-up-2 grid-frame">
  <div class="grid-block vertical">
    <h1>{{room}}</h1>

    <ul class="info"></ul>

    <div class="state--lobby">

      <label class="room-url">
        <span class="room-url__instruction">Invite your friends with this URL!</span>
        <span class="room-url__message room-url__message--hidden">Copied URL to clipboard!</span>
        <textarea class="room-url__url">{{url}}</textarea>
      </label>

      <label>
        Your name
        <input class="inputName" type="text" placeholder="Your name here">
      </label>

      <div class="grid-block" style="margin-top: 1em;">
        <div class="grid-block shrink">
          <div class="switch">
            <input type="checkbox" class="readyUp" name="readyUp" id="readyUp">
            <label for="readyUp"></label>
          </div>
        </div>
        <label class="ready-text grid-block" for="readyUp">Ready?</label>
      </div>

      <button class="hide button button--start_game button--start_game--disabled large expand success " type="button" name="startGame">Start Game!</button>
    </div>

    <div class="state--game" style="display:none;">

      <h2>game shit here waaaaaaaaaaaaah</h2>

      <button class="button--record button expand">
        <span class="button--record__text">Record</span>
        <div class="wave"></div>
      </button>
      <input class="checkbox--record" type="checkbox" id="ready" name="ready"/>
      <label for="ready">Send to everyone else</label>

      <div class="grid-block vertical" style="margin-top: 1em;">
        Gain: <input id="inp_gain" type="range" min="0" max="100" value="10"><br>
        Use Noise Reducer: <input type="checkbox" id="inp_useReducer" checked><br>
        Preset: <input id="inp_preset" type="range" min="0" max="3" value="0"><span id="preset">Default (BG Noise/Rumble 1)</span><br>
      </div>

    </div>

  </div>
  <div class="grid-block vertical" style="padding: 0;">
    <div class="players">
      <ul class="players">
        <li class="player player--1 player--waiting grid-block">
          <div class="polaroid__wrap grid-block shrink">
            <div class="polaroid">
              <img class="polaroid__image" src="assets/1.gif">
            </div>
          </div>
          <div class="grid-block vertical">
            <span class="player__name grid-block shrink"><small>Waiting for player...</small></span>
            <span class="player__speaking grid-block">&hellip; is speaking</span>
          </div>
          <span class="ready-wrap ready-wrap--hidden">
            <span class="ready">Ready!</span>
          </span>
        </li>
        <li class="player player--2 player--waiting grid-block">
          <div class="polaroid__wrap grid-block shrink">
            <div class="polaroid">
              <img class="polaroid__image" src="assets/2.gif">
            </div>
          </div>
          <div class="grid-block vertical">
            <span class="player__name grid-block shrink"><small>Waiting for player...</small></span>
            <span class="player__speaking grid-block">&hellip; is speaking</span>
          </div>
          <span class="ready-wrap ready-wrap--hidden">
            <span class="ready">Ready!</span>
          </span>
        </li>
        <li class="player player--3 player--waiting grid-block">
          <div class="polaroid__wrap grid-block shrink">
            <div class="polaroid">
              <img class="polaroid__image" src="assets/3.gif">
            </div>
          </div>
          <div class="grid-block vertical">
            <span class="player__name grid-block shrink"><small>Waiting for player...</small></span>
            <span class="player__speaking grid-block">&hellip; is speaking</span>
          </div>
          <span class="ready-wrap ready-wrap--hidden">
            <span class="ready">Ready!</span>
          </span>
        </li>
        <li class="player player--4 player--waiting grid-block">
          <div class="polaroid__wrap grid-block shrink">
            <div class="polaroid">
              <img class="polaroid__image" src="assets/4.gif">
            </div>
          </div>
          <div class="grid-block vertical">
            <span class="player__name grid-block shrink"><small>Waiting for player...</small></span>
            <span class="player__speaking grid-block">&hellip; is speaking</span>
          </div>
          <span class="ready-wrap ready-wrap--hidden">
            <span class="ready">Ready!</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
