<div class="medium-up-2 grid-frame">
  <div class="grid-block vertical small-up-4">
    <h1>{{room}}</h1>

    <label class="room-url">
      <span class="room-url__instruction">Invite your friends with this URL!</span>
      <span class="room-url__message room-url__message--hidden">Copied URL to clipboard!</span>
      <textarea class="room-url__url">http:{{host}}/{{room}}</textarea>
    </label>

    <ul class="info"></ul>

    <button class="button large expand">Ready up</button>
    <button class="button large expand success">Start game</button>

    <div style="display: none">
      <h4 class="word"></h4>
      <button class="button--record">Record</button>

      <label for="ready">I'm Ready</label>
      <input class="checkbox--record" type="checkbox" id="ready" name="ready"/>
    </div>
  </div>
  <div class="grid-block vertical" style="padding: 0;">
    <div class="users"></div>
  </div>
</div>
