<div class="medium-up-2 grid-frame">
  <div class="grid-block vertical small-up-4">
    <h1>{{room}}</h1>

    <label class="room-url">
      <span class="room-url__instruction">Invite your friends with this URL!</span>
      <span class="room-url__message room-url__message--hidden">Copied URL to clipboard!</span>
      <textarea class="room-url__url">http:{{host}}/{{room}}</textarea>
    </label>

    <ul class="info"></ul>

    <!-- <button class="button--ready-up button large expand">Ready up</button> -->
    <!-- <button class="button--start-game button large expand success">Start game</button> -->

    <button class="button--record button expand">Record</button>
    <input class="checkbox--record" type="checkbox" id="ready" name="ready"/>
    <label for="ready">Send to everyone else</label>

    <input class="test"></input>

  </div>
  <div class="grid-block vertical" style="padding: 0;">
    <div class="users">
      <ul class="users">
        <li class="user user--1 user--waiting grid-block">
          <div class="polaroid__wrap grid-block shrink">
            <div class="polaroid">
              <img class="polaroid__image" src="assets/1.gif">
            </div>
          </div>
          <span class="name grid-block"><small>Waiting for player...</small></span>
        </li>
        <li class="user user--2 user--waiting grid-block">
          <div class="polaroid__wrap grid-block shrink">
            <div class="polaroid">
              <img class="polaroid__image" src="assets/2.gif">
            </div>
          </div>
          <span class="name grid-block"><small>Waiting for player...</small></span>
        </li>
        <li class="user user--3 user--waiting grid-block">
          <div class="polaroid__wrap grid-block shrink">
            <div class="polaroid">
              <img class="polaroid__image" src="assets/3.gif">
            </div>
          </div>
          <span class="name grid-block"><small>Waiting for player...</small></span>
        </li>
        <li class="user user--4 user--waiting grid-block">
          <div class="polaroid__wrap grid-block shrink">
            <div class="polaroid">
              <img class="polaroid__image" src="assets/4.gif">
            </div>
          </div>
          <span class="name grid-block"><small>Waiting for player...</small></span>
        </li>
      </ul>
    </div>
  </div>
</div>
