wowwwwwwwwwwww

wlecome to rooms {{room}}

we give them a unique url to share and wait for new people to join

<hr />

<img src="http://placecage.com/100/100" style="border-radius: 50%"/>

whats your name what your number girl
<input type="text">

<hr />

you need at least 2 people to play you loner


<p>invite your friends with this url!</p>
<input value="http://localhost:3000/{{room}}" />
<button>copy to clipboard</button>

<h2>users</h2>

<ul>
  <li>Zac (You!)</li>
</ul>

<p>im ready to play!</p>
<input type="checkbox" />

<button>Start game</button>
