<div class="grid-block">
<div class="grid-container">
  <h1>desrever</h1>
  <h2>make a new room and start the fun fun fun!</h2>

  <a class="button large expand" href="/{{room}}">New Room</a>

  <br />
  <p>OR</p>
  <br />

  <label>
    Enter your room URL here
    <span class="inline-label">
      <input class="input--join-room" type="search" placeholder="http://localhost:3000/cool-url-here">
      <a class="button--join-room button" href="/" class="button">Join room</a>
    </span>
  </label>
</div>
</div>
