<h1>hello and welcome to this gr8 website</h1>
damn daniel, at it again with the white vans

<a href="/{{room}}">create room</a>
<button type="button" name="button">join room</button>

<input value="" placeholder="your friend's url here"/>
<a href="/sdadsadsa">go to your friends room</a>
